.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 500px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
}

.login input[type="text"],
.login input[type="password"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.login input[type="text"]:hover {
  border-color: #364fc7;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.login input[type="submit"] {
  border: none;
  background: #4c6ef5;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type="submit"]:hover {
  background: #364fc7;
}

.login h2 {
  margin: 20px 0 0;
  color: #4c6ef5;
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: 0.8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}
